/*------------------------------------------------------------------
[Adityawarman Dewa Putra] [SMKN 1 JAKARTA] 

Copyright   : Dewa Programming

Project		:	Portfolio
Dibuat	    :	30/08/2020
Instagram   :   @741_dewa -- @dev_dewa_id
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Header
2. Navigasi
3. Home
4. About
5. Education
6. Projects
8. Expertise
9. Contact
9. Footer
10. Scroll Top
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
[NOTE]
COPY PASTE PUNYA ORANG LAIN TANPA IZIN ITU DOSA
IZIN TERLEBIH DAHULU. TERIMAKASIH :)
-------------------------------------------------------------------*/



@media only screen and (min-width: 1025px) and (max-width: 1366px) {

    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [1. Header]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [2. Navigasi]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [3. Home]
    *------------------------------------------------------------------*/
    .Home {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .nama_deskripsi h1 {
        font-size: 30px;
    }

    .nama_deskripsi b {
        font-size: 25px;
    }

    /*-------------------------------------------------------------------
    [4. About]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [5. Education]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [6. Projects]
    *------------------------------------------------------------------*/
    
    /*-------------------------------------------------------------------
    [7. Expertise]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [8. Contact]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [9. Footer]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [10. Scroll Top]
    *------------------------------------------------------------------*/

}