/*------------------------------------------------------------------
[Adityawarman Dewa Putra] [SMKN 1 JAKARTA] 

Copyright   : Dewa Programming

Project		:	Portfolio
Dibuat	    :	30/08/2020
Instagram   :   @741_dewa -- @dev_dewa_id
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Header
2. Navigasi
3. Home
4. About
5. Education
6. Projects
8. Expertise
9. Contact
9. Footer
10. Scroll Top
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
[NOTE]
COPY PASTE PUNYA ORANG LAIN TANPA IZIN ITU DOSA
IZIN TERLEBIH DAHULU. TERIMAKASIH :)
-------------------------------------------------------------------*/
@media only screen and (max-width: 576px) {
    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/
    h2 {
        font-size: 22px !important;
    }

    #about, #projects, #expertise {
        padding: 2rem 1rem;
    }

    .judul {
        margin-top: 2rem;
    }

    /*-------------------------------------------------------------------
    [1. Header]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [2. Navigasi]
    *------------------------------------------------------------------*/
    #LogoNavigasi {
        width: 100px;
    }

    .menu-icon {
        display: block;
    }

    /*-------------------------------------------------------------------
    [3. Hero]
    *------------------------------------------------------------------*/
    .hero {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero .container {
        display: flex;
    }

    .nama_deskripsi {
        height: 100%;
    }

    .nama_deskripsi h1 {
        font-size: 20px;

    }

    .nama_deskripsi p {
        width: 100% !important;
        font-size: 14px;
    }

    /*-------------------------------------------------------------------
    [4. About]
    *------------------------------------------------------------------*/
    #about .col-sm-6:nth-child(2) {
        display: none;
    }

    #about button {
        margin: 2rem 0;
        width: 200px !important;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05) !important;
    }

    #about-mobile {
        display: unset;
    }
    
    /*-------------------------------------------------------------------
    [5. Education]
    *------------------------------------------------------------------*/
    #education {
        display: none;
    }

    #nav-education {
        display: none;
    }

    /*-------------------------------------------------------------------
    [6. Projects]
    *------------------------------------------------------------------*/
    #projects {
        padding: 3rem 1rem !important;
    }

    #projects .slider-projects {
        padding: 10px 0px 0px 0px !important;
    }
    
    /*-------------------------------------------------------------------
    [7. Expertise]
    *------------------------------------------------------------------*/
    #expertise img {
        width: 40px;
    }

    #expertise p {}

    /*-------------------------------------------------------------------
    [8. Contact]
    *------------------------------------------------------------------*/
    .social-media {
        margin-bottom: 3rem;
    }

    /*-------------------------------------------------------------------
    [9. Footer]
    *------------------------------------------------------------------*/
    #footer {
        text-align: center;
    }

    #footer p, #footer a {
        font-size: 12px !important;
    }

    /*-------------------------------------------------------------------
    [10. Scroll Top]
    *------------------------------------------------------------------*/
    .progress-wrap {
        right: 20px;
        bottom: 20px;
    }
}