<!-- Copyright 2020 By: Dewa Programming -->
<!-- Author/Pembuat   : Adityawarman Dewa Putra -->
<!-- Instagram        : @741_dewa -- @dev_dewa_id -->
<!-- Dibuat           : 05/05/2020 -->

<!--                                    *NOTE*
    Ciee Ngintip, Izin dulu biar gk disangka maling :p

    Canda :)
-->

<!DOCTYPE html>
<html class="no-scroll-y" id="home">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Adityawarman Dewa Putra</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/site.webmanifest">
        <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Primary Meta -->
        <meta name="title" content="Adityawarman Dewa Putra | Portfolio">
        <meta name="description" content="Portfolio Adityawarman Dewa Putra">

        <!-- Meta Social Media --> 
        <meta property="og:type" content="article">
        <meta property="og:title" content="Adityawarman Dewa Putra | Portfolio">
        <meta property="og:site_name" content="Dewa Programming">
        <meta property="og:url" content="https://dewaprogramming.netlify.app/">
        <meta property="og:image" content="https://dewaprogramming.netlify.app/assets/WAThumb.png">
        <meta property="article:published_time" content="2020">
        <meta property="article:author" content="https://dewaprogramming.netlify.app/">
        <meta property="article:author" content="dewaprogramming.netlify.app">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://dewaprogramming.netlify.app/">
        <meta property="twitter:title" content="Adityawarman Dewa Putra | Portfolio">
        <meta property="twitter:description" content="Portfolio Adityawarman Dewa Putra">
        <meta property="twitter:image" content="https://dewaprogramming.netlify.app/assets/WAThumb.png">

        <!-- Icon -->
        <link rel="stylesheet" href="icon/icon.css">

        <!-- CSS -->
        <link href="css/projects.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet" >

        <!-- Responsive -->
        <link rel="stylesheet" href="css/mobile-responsive.css">
        <link rel="stylesheet" href="css/tablet-responsive.css">
        <link rel="stylesheet" href="css/desktop-responsive.css">

        <!-- Javascript -->
        <script src="js/jquery.js"></script>
        <script src="js/app.js"></script>
        <script src="js/gsap.js"></script>
        <script src="js/animatedModal.min.js"></script>
</head>
</body data-spy="scroll" data-target=".nav" data-offset="50">

    <!-- PreLoader -->
    <section>
        <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                        <div class="txt-loading">
                    </div>
                </div>	
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </div>
    </section>

    <!-- Navigasi -->
    <nav class="p-3 d-flex justify-content-center mt-5 mb-3">
        <a class="navbar-brand mx-0" href="/">
            <img src="images/logo-projects.svg" alt="logo">
        </a>
    </nav>

    <!-- Content -->
    <div class="container" id="app">
        <!-- Title -->
        <h1 class="h3 ml-3 mt-5">-| DEVELOPMENT ~</h1>
        <div class="row">
            <div :class="develop.col" v-for="develop in visibleDevelop" :key="develop.id">
                <div class="card px-3">
                    <a :id="develop.demoid" :href="develop.modal"><img :src="develop.imgbg" width="100%" alt="pict"></a>
                    <div :id="develop.modalid">
                        <div  id="btn-close-modal" :class="develop.modalclose"> 
                            <img class="closebt" :src="develop.imgclose" alt="close">
                        </div>
                        
                        <div class="modal-content">
                            <p class="d-flex justify-content-center align-items-center mb-4"><img class="mr-2" :src="develop.imgicon" alt="Icon">{{ develop.description }}</p>
                            <img :src="develop.imgproject" alt="image">
                        </div>

                        <div id="btn-close-modal" :class="develop.modalclose"> 
                            <img class="closebt" :src="develop.imgclose" alt="close">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <p class="text-center my-5"><img src="images/line-dash.svg" alt="line-dash"></p>

        <!-- Title -->
        <h1 class="h3 ml-3 mt-5 pt-3">-| DESIGN ~</h1>
        <div class="row">

            <div :class="design.col" v-for="design in visibleDesign" :key="design.id">
                <div class="card px-3">
                    <a :id="design.demoid" :href="design.modal"><img :src="design.imgbg" width="100%" alt="pict"></a>
                    <div :id="design.modalid">
                        <div  id="btn-close-modal" :class="design.modalclose"> 
                            <img class="closebt" :src="design.imgclose" alt="close">
                        </div>
                        
                        <div class="modal-content">
                            <p class="d-flex justify-content-center align-items-center mb-4"><img class="mr-2" :src="design.imgicon" alt="Icon">{{ design.description }}</p>
                            <img :src="design.imgproject" alt="image">
                        </div>

                        <div id="btn-close-modal" :class="design.modalclose"> 
                            <img class="closebt" :src="design.imgclose" alt="close">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
  
    <!-- Footer -->
    <div class="container" id="footer">
        <div class="row">
      <div class="col-md-8 col-sm-12">
        <p>&copy; 2020 - <b id="tanggal" style="font-weight: 300 !important;"></b>
          &nbsp;| <a href="https://dewa-tools.netlify.app/" target="_blank">Tools</a>
          &nbsp;| <a href="https://saweria.co/AdityawarmanDewaP" target="_blank">Support Me</a></p>
      </div>
      <div class="col-md-4 col-sm-12">
        <p>Thank you for visit my website <img src="images/heart.gif" alt="Heart"> </p>
      </div>
    </div>
  </div>
  
  <!-- Tombol Scroll Atas -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
  </div>

    <!-- Vue JS -->
    <script src="js/projects/vue.js"></script>
    <script src="js/projects/content.js"></script>
    
</body>
</html>
<script src="js/script.js"></script>

<script>
    //PreLoader
    $(document).ready(function() {
      
      setTimeout(function() {
        $('#ctn-preloader').addClass('loaded');
        $('html').removeClass('no-scroll-y');
    
        if ($('#ctn-preloader').hasClass('loaded')) {
          $('#preloader').delay(1000).queue(function() {
            $(this).remove();
          });
        }
      }, 3000);
      
    });
</script>

<script>
    //Tanggal Footer
    var d = new Date();
    document.getElementById("tanggal").innerHTML = d.getFullYear();
</script>

<!-- Scroll Top -->
<script> 
(function($) { "use strict";
  $(document).ready(function(){"use strict";
    
    var progressPath = document.querySelector('.progress-wrap path');
    var pathLength = progressPath.getTotalLength();
    progressPath.style.transition = progressPath.style.WebkitTransition = 'none';
    progressPath.style.strokeDasharray = pathLength + ' ' + pathLength;
    progressPath.style.strokeDashoffset = pathLength;
    progressPath.getBoundingClientRect();
    progressPath.style.transition = progressPath.style.WebkitTransition = 'stroke-dashoffset 10ms linear';		
    var updateProgress = function () {
      var scroll = $(window).scrollTop();
      var height = $(document).height() - $(window).height();
      var progress = pathLength - (scroll * pathLength / height);
      progressPath.style.strokeDashoffset = progress;
    }
    updateProgress();
    $(window).scroll(updateProgress);	
    var offset = 50;
    var duration = 550;
    jQuery(window).on('scroll', function() {
      if (jQuery(this).scrollTop() > offset) {
        jQuery('.progress-wrap').addClass('active-progress');
      } else {
        jQuery('.progress-wrap').removeClass('active-progress');
      }
    });				
    jQuery('.progress-wrap').on('click', function(event) {
      event.preventDefault();
      jQuery('html, body').animate({scrollTop: 0}, duration);
      return false;
    })
  });
})(jQuery);
</script>

<script>
    //development
    $("#demo01").animatedModal();
    $("#demo02").animatedModal();
    $("#demo03").animatedModal();
    $("#demo04").animatedModal();
    $("#demo05").animatedModal();
    $("#demo06").animatedModal();
    $("#demo07").animatedModal();
    $("#demo08").animatedModal();
    $("#demo09").animatedModal();

    //design
    $("#design01").animatedModal();
    $("#design02").animatedModal();
    $("#design03").animatedModal();
</script>