<!-- Copyright 2020 By: Dewa Programming -->
<!-- Author/Pembuat   : Adityawarman Dewa Putra -->
<!-- Instagram        : @741_dewa -- @all_dewa_works -->
<!-- Dibuat           : 05/05/2020 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPL 1 | SMKN 1 JAKARTA</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../favicon/site.webmanifest">
    <link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../dist/css/style.css">
    <link href="../dist/css/d-tailwind.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script> 
    <script src="../../js/vue.js"></script>
    <script src="../dist/js/vue-gallery-slideshow.min.js" type="text/javascript" ></script>
    <script src="../../js/jquery.js"></script>
  </head>
  <body>

    <!-- PreLoader -->
    <section>
      <div id="preloader">
          <div id="ctn-preloader" class="ctn-preloader">
              <div class="animation-preloader">
                  <div class="spinner"></div>
                      <div class="txt-loading">
                  </div>
              </div>	
              <div class="loader-section section-left"></div>
              <div class="loader-section section-right"></div>
          </div>
      </div>
    </section>

    <section class="container mx-auto pt-4" id="app">
      <a class="m-4 text-sm text-black-600" href="../../">&laquo; Back</a>
      <a class="m-4 text-sm text-red-600 underline decoration-dashed underline-offset-4" href="../sd/">SD</a>
      <a class="m-4 text-sm text-blue-600 underline decoration-dashed underline-offset-4" href="../smp/">SMP</a>
      <h1 class="text-3xl w-full text-center pt-14 tracking-widest">- SMK ARCHIVE -</h1>
      <p class="mb-12 text-center mx-auto tracking-widest mt-4">2019 - 2022</p>

      <!-- Guru -->
      <div class="py-8 flex flex-wrap justify-center">
        <div class="avatar px-10 inline" v-for="guru in visibleGuru" :key="guru.id">
          <div :class="guru.class">
            <img :src="guru.img"/>
          </div>
          <p :class="guru.classTEXT">{{ guru.kelas }}</p>
        </div>
      </div>

      <!-- Pelajar -->
      <div class="py-8 flex flex-wrap justify-center">
        <h1 class="text-3xl w-full text-center pt-12 pb-8 tracking-widest">Siswa / i</h1>
        <div class="avatar px-6 py-4 inline" v-for="pelajar in visiblePelajar" :key="pelajar.id">
          <div class="w-24 rounded">
            <img :src="pelajar.img"/>
          </div>
          <p :class="pelajar.class">{{ pelajar.nama }}</p>
        </div>
      </div>

      <h1 class="text-3xl w-full text-center pt-12 pb-8 tracking-widest">Album</h1>

      <div class="flex flex-wrap justify-center pb-8">
        <img class="image mx-4 my-4 h-44 cursor-pointer" v-for="(image, i) in images" :src="image.url" @click="index = i">
        <vue-gallery-slideshow :images="images" :index="index" @close="index = null"></vue-gallery-slideshow>
      </div>
    </section>

    <script src="../dist/js/content/smk.js"></script>
    
    <script>
      //PreLoader
      $(document).ready(function() {
        
        setTimeout(function() {
          $('#ctn-preloader').addClass('loaded');
          $('html').removeClass('no-scroll-y');
      
          if ($('#ctn-preloader').hasClass('loaded')) {
            $('#preloader').delay(1000).queue(function() {
              $(this).remove();
            });
          }
        }, 3000);
        
      });
    </script>

  </body>
</html>